.groupItem {
  min-height: 40px;
  padding: 4px 12px;
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;

  .delete {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: #f5f5f5;
    border-radius: 6px;
    .delete {
      display: block;
    }
  }
  :global {
    .ant-checkbox {
      margin-right: 8px;
    }

    .ant-checkbox-disabled + span {
      color: #000 !important;
    }

    .ant-checkbox .ant-checkbox-input {
      display: inline !important;
    }
  }

  .otherVal {
    display: block;
    margin-left: 24px;
    margin-top: 4px;
  }

  .editorItem {
    display: inline-block;
    margin-left: 8px;
  }

  .itemComp {
    margin-left: 8px;
  }

  .delete {
    cursor: pointer;
  }

  .ant-checkbox {
    position: absolute;
    top: 12px;
  }
}

.listItem {
  display: block;
}

.otherVal {
  display: block;
}

.editorItem {
  outline: none;
  margin-left: 15px;

  &:active,
  &:focus {
    border: 1px solid #e0e0e0;
    padding: 0 12px 0 10px;
    border-radius: 6px;
  }
}

:global(.ant-checkbox-disabled + span) {
  color: #000;
}

:global(.ant-checkbox .ant-checkbox-input) {
  display: inline;
}
