.nav-content {
  height: 64px;
  line-height: 64px;
  font-weight: 500;
  font-size: 18px;
  color: #141a25;
  position: relative;
  display: flex;
  justify-content: space-between;

  .user-profile {
    position: absolute;
    right: 10px;

    .icon {
      display: inline-block;
      width: 36px;
      height: 36px;
      color: #2468f2;
      text-align: center;
      border-radius: 50%;
      background: rgba(20, 86, 240, 0.1);
      line-height: 36px;
      cursor: pointer;
    }
  }
}

.search {
  margin-top: 20px;
}

.search-input {
  width: 420px;
}

