.settingItem {
  margin-bottom: 10px;
}

.h50 {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blockTitle2 {
  flex: 1;
}

.absR {
  margin-left: auto;
}