.settingItem {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secondary {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  gap: 4px;
}

.switchR {
  margin-left: auto;
}