.settingItem {
  padding-top: 10px;
}

.secondary {
  display: block;
  padding-bottom: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.compList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.formItem {
  height: 36px;
  line-height: 36px;
  cursor: move;
}

.handle {
  display: flex;
  height: 36px;
  align-items: center;

  img {
    width: 12px;
    cursor: move;
    margin-top: 0;
  }
}

.label {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  color: #666;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}