.formHeader {
  // Form header styles
}

.headerImg {
  img {
    width: 100%;
    max-height: 200px;
  }
}

.titleSection {
  margin: 30px 0;

  .title {
    margin: 10px 0 !important;
  }

  .description {
    color: rgba(0, 0, 0, 45%);
  }
}
