.blockTitle {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.mb10 {
  margin-bottom: 20px;
}

.settingItem {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switchR {
  margin-left: auto;
}