.comp {
  padding: 10px;
  color: yellowgreen;
}

.mb10 {
  margin-top: 4px;
  margin-bottom: 5px;
}

.mB10 {
  margin-bottom: 20px;
}

.h42 {
  height: 42px;
  line-height: 42px;
}

.h50 {
  height: 50px;
  line-height: 50px;
}

.settingItem {
  position: relative;

  .ant-select {
    top: 10px;
  }
}

.absR {
  position: absolute;
  right: 0px;
}

.switchR {
  top: -5px;
}

.secondary {
  color: rgba(0, 0, 0, 0.65);
}

.blockTitle {
  display: block;
  padding-bottom: 8px;
  color: rgba(0, 0, 0, 0.65);
}

.blockTitle2 {
  display: block;
  padding-bottom: 8px;
  color: rgba(0, 0, 0, 0.65);
}