.sidebar {
  min-width: 80px;
  font-size: 12px;
  color: #314666;
  border-right: 1px solid rgb(232, 235, 238);
}

.item {
  text-align: center;
  height: 70px;
  padding: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
    color: #1677ff;
  }

  &.active {
    filter: grayscale(0%);
    color: #1677ff;
  }

  .icon {
    width: 20px;
    display: inline-block;
  }

  .label {
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
  }
}
