.settingItem {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.secondary {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.absR {
  margin-left: auto;
}