.settingItem {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blockTitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.absR {
  position: relative;
}